<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>登录</title>
  <meta name ="viewport" content ="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="http://i.gtimg.cn/vipstyle/frozenui/2.0.0/css/frozen.css">
  <link rel="stylesheet" href="../css/login.css">
</head>
<body>

<div ng-app="loginPage" ng-controller="login" >
  <div class="ui-tooltips ui-tooltips-warn" ng-if="badNetWord" style="position: absolute" ng-click="hiddenMessage()">
    <div class="ui-tooltips-cnt ui-tooltips-cnt-link ui-border-b">
      <i></i>网络错误,无法连接服务器。
    </div>
  </div>

<div id="login">
  <div class="login-phone" >
    <span>手机号</span>
    <div><input ng-model="code" class="login-phone-input" placeholder='请输入手机号' type="text"></div>
    <span ng-click="getCode()">{{getCodeText}}</span>
  </div>
  <div class="login-phone" >
    <span>验证码</span>
    <div><input ng-model="code" class="login-phone-input" placeholder='请输入手机号' type="text"></div>
    <span style="opacity: 0">----</span>
  </div>
  <button class="ui-btn-lg ui-btn-primary" ng-click="loginByCode">登录</button>
</div>

</div>


<script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>

<script>
  var app = angular.module('loginPage', []);
  app.controller('login', function($scope,$http) {
    $scope.getCodeText= "获取验证码";
    $scope.code= '';
    $scope.badNetWord= false;
    $scope.http= 'http://qim.colocust.cn/api/';

    $scope.loginByCode = function() {
      $http({
        method: 'POST',
        url: `${$scope.http}RegisterUser`,
        data:{telephone:$scope.code}
      }).then(function successCallback(response) {
        // 请求成功执行代码
        console.log('--api--GetCaptcha',response)
        $scope.getCodeText = '获取成功'
      }, function errorCallback(err) {
        // 请求失败执行代码
        console.log('--api--GetCaptcha',err)
        $scope.badNetWord = true;
      });
    }

    $scope.getCode = function() {

      if($scope.getCodeText == "获取成功") return;

      console.log('---getCode')

      $http({
        method: 'POST',
        url: `${$scope.http}GetCaptcha`,
        data:{telephone:$scope.code}
      }).then(function successCallback(response) {
        // 请求成功执行代码
        console.log('--api--GetCaptcha',response)
        $scope.getCodeText = '获取成功'
      }, function errorCallback(err) {
        // 请求失败执行代码
        console.log('--api--GetCaptcha',err)
        $scope.badNetWord = true;
      });

    };

    $scope.hiddenMessage = function () {
      $scope.badNetWord = false
    }
  });
</script>


</body>


</html>
